<?xml version="1.0"?>

<launch>

    <!-- start sensor-->
    <node pkg="pcl_fusion" type="pcl_fusion_node" name="pcl_fusion" />

    <!-- run pointcloud_to_laserscan node, modified from pointcloud_to_laserscan launch example -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/camera_merged/depth_registered/points"/>
        <remap from="scan" to="/scan"/>
        <rosparam>
            target_frame: base_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: 0.3
            max_height: 2.0

            angle_min: -3.14 # -M_PI/2
            angle_max: 3.14 # M_PI/2
            angle_increment: 0.1 # M_PI/360.0
            scan_time: 0.2
            range_min: 0.3
            range_max: 8.0
            use_inf: false

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>
    </node>

</launch>
